<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
  <div th:replace="fragments :: navbar"></div>
  <div class="container-fluid">
    <h1>ToDoList</h1>
    <ul>
      <li>Desarrollada por todolist-equipo-14 </li>
      <ul>
        <li>Madani El Mrabet Martinez</li>
        <li>Nikita Polyanskiy</li>
        <li>Serhii Vidernikov</li>
      </ul>
      <li>Versión 1.4.0</li>
      <li>Fecha de release: 20/12/2022</li>
    </ul>
  </div>

  <div th:replace="fragments::javascript"/>

</body>
</html>
