<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')">
</head>

<body>
<div class="container-fluid">

  <h2 th:text="'Nueva categoria para el usuario ' + ${usuario.getNombre()}"></h2>

  <form method="post" th:action="@{/usuarios/{id}/categorias/nueva(id=${usuario.id})}" th:object="${categoriaData}">
    <div class="col-6">
      <div class="form-group">
        <label for="nombre">Nombre de la categoria:</label>
        <input class="form-control" id="nombre" name="nombre" required th:field="*{nombre}" type="text"/>
        <label for="color-picker">Color de la categoria:</label>
        <br>
        <input class="form-control" id="color-picker" type="text" value="#ffffff" th:field="*{color}" />
      </div>
      <button class="btn btn-primary" type="submit">Crear categoria</button>
      <a class="btn btn-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Cancelar</a>
    </div>
  </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>