<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<div class="container-fluid">
    <div th:replace="fragments :: navbar"></div>
    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de tareas de ' + ${usuario.nombre}"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Tarea</th>
                    <th>Prioridad</th>
                    <th>Fecha Tope</th>
                    <th>Categoria</th>
                    <th>Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarea: ${tareas}" th:style="${tarea.color != null? 'background-color:'+tarea.color : 'background-color:white'}">
                    <td th:text="${tarea.id}"></td>
                    <td th:text="${tarea.titulo}"></td>

                    <span th:if="${tarea.prioridad == 1}">
                        <td style="color:LightGreen" th:text="${tarea.prioridad}"></td>
                    </span>
                    <span th:if="${tarea.prioridad == 2}">
                        <td style="color:Orange" th:text="${tarea.prioridad}"></td>
                    </span>
                    <span th:if="${tarea.prioridad == 3}">
                        <td style="color:Tomato" th:text="${tarea.prioridad}">
                        </td>
                    </span>
                    <span th:if="${tarea.prioridad != 1 && tarea.prioridad != 2 && tarea.prioridad != 3}">
                        <td><p>Sin prioridad</p></td>
                    </span>


                    <span th:if="${tarea.fechaTope != null}">
                        <td th:text="${tarea.fechaTope}"></td>
                    </span>
                    <span th:unless="${tarea.fechaTope != null}">
                        <td> <p></p></td>
                    </span>

                    <td th:text="${tarea.getCategoria() != null? tarea.getCategoria().getNombre() : null}" th:style="${tarea.getCategoria() != null? 'background-color:'+tarea.getCategoria().getColor():''}"></td>

                    <td>
                        <a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}/editar(id=${tarea.id})}"/>editar</a>
                        <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                           th:onclick="'del(\'/tareas/' + ${tarea.id} + '\')'" th:method="delete">borrar</button>

                        <a class="btn btn-success btn-xs" th:href="@{/tareas/{id}/finalizar(id=${tarea.id})}"/>finalizar</a>
                        <a class="btn btn-info btn-xs" th:href="@{/tareas/{id}/comentarios/(id=${tarea.id})}"/>comentarios</a>

                    </td>
                </tr>
                </tbody>
            </table>
            <p><a class="btn btn-primary" th:href="@{/usuarios/{id}/tareas/nueva(id=${usuario.id})}"> Nueva tarea</a>
            <p><a class="btn btn-primary" th:href="@{/usuarios/{id}/categorias/nueva(id=${usuario.id})}"> Nueva categoria</a>

                <a class="btn btn-link" href="/logout">Salir</a></p>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(mensaje)}">
                <span th:text="${mensaje}"></span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>


</div>

<div th:replace="fragments::javascript"/>

<!-- Lanzamos una petición DELETE por JavaScript para borrar una tarea -->

<script type="text/javascript">
    function del(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la tarea?')) {
            fetch(urlBorrar, {
                method: 'DELETE'
            }).then((res) => location.reload());
        }
    }
</script>

</body>
</html>